<!DOCTYPE HTML>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KTTN</title>
    @*css file*@
    <link href="~/Content/bootstrap-4.0.0-beta-dist/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/OwlCarousel2-2.2.1/dist/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/OwlCarousel2-2.2.1/dist/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    @*script file*@

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="~/Content/bootstrap-4.0.0-beta-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/OwlCarousel2-2.2.1/dist/owl.carousel.min.js"></script>

    <script src="~/Scripts/script.js"></script>
</head>

<body>

<div class="container">
    <header>
        <div class="logo">
            <img src="~/Content/Client/images/logo2.png" />
        </div>
        <div class="right-header">
            <div class="container-social">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </div>

            <div class="container-login">
                <a href="#">ĐĂNG NHẬP</a>
                <a href="#">ĐĂNG KÝ</a>
            </div>

            <nav class="mobile">
                <div id="toggle-bar">
                    <i class="fa fa-bars" aria-hidden="true"></i> KTKT
                </div>
                <ul>
                    <li class="nav-item"><a href="#">TRANG CHỦ</a></li>
                    <li>
                        <a href="#">TRẮC NGHIỆM</a>
                        <ul>
                            <li><a href="#">MẪU GIÁO</a></li>
                            <li><a href="#">TIỂU HỌC</a></li>
                            <li><a href="#">TRUNG HỌC CƠ SỞ</a></li>
                            <li><a href="#">TRUNG HỌC PHỔ THÔNG</a></li>
                            <li><a href="#">TRUNG HỌC PHỔ THÔNG</a></li>
                            <li><a href="#">IQ</a></li>
                            <li><a href="#">BẰNG LÁI</a></li>
                            <li><a href="#">THỂ THAO</a></li>
                            <li><a href="#">GIẢI TRÍ</a></li>
                        </ul>
                    </li>
                    <li><a href="#">HỎI ĐÁP</a></li>
                    <li>
                        <a href="#">TIN TỨC</a>
                        <ul>
                            <li><a href="#">TIN TỨC</a></li>
                            <li><a href="#">THÔNG BÁO</a></li>
                            <li><a href="#">SỰ KIỆN</a></li>
                            <li><a href="#">THỦ THUẬT</a></li>
                            <li><a href="#">GÓC HỌC SINH</a></li>
                            <li><a href="#">GÓC PHỤ HUYNH</a></li>
                        </ul>
                    </li>
                    <li><a href="#">GIỚI THIỆU</a></li>
                    <li><a href="#">LIÊN HỆ</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>


    <section id="slider" class="owl-carousel owl-theme">
        <div class="item">
            <img src="~/Content/images/bia_1.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/bia_1.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/bia_1.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/bia_1.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/bia_1.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/bia_1.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/bia_1.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/bia_1.jpg" />
        </div>
    </section>
    <script>
        $(document).ready(() => {
            $('#slider').owlCarousel({
                loop: true,
                margin: 10,
                nav: false,
                dots: false,
                items: 1,
            });
        });
    </script>
    <section>
        <div class="container">
            <div id="wrapper">
                <aside class="left">
                    <div class="box-menu">
                        <div class="box-container">
                            <p class="title">TRẮC NGHIỆM</p>
                            <a href="#">MẪU GIÁO</a>
                            <a href="#">TIỂU HỌC</a>
                            <a href="#">TRUNG HỌC CƠ SỞ</a>
                            <a href="#">TRUNG HỌC PHỔ THÔNG</a>
                            <a href="#">SINH VIÊN</a>
                            <a href="#">IQ</a>
                            <a href="#">BẰNG LÁI XE</a>
                            <a href="#">THỂ THAO</a>
                            <a href="#">GIẢI TRÍ</a>
                        </div>
                    </div>
                    <div class="box-menu">
                        <div class="box-container">
                            <p class="title">DANH MỤC</p>
                            <a href="#">TIN TỨC</a>
                            <a href="#">THÔNG BÁO</a>
                            <a href="#">SỰ KIỆN</a>
                            <a href="#">THỦ THUẬT</a>
                            <a href="#">GÓC HỌC SINH</a>
                            <a href="#">GÓC PHỤ HUYNH</a>
                        </div>
                    </div>
                    <div class="box-menu">
                        <div class="box-container">
                            <p class="title">BÀI VIẾT MỚI</p>
                            <a href="#">1. Tên bài viết 1 (10/8/2017)</a>
                            <a href="#">2. Tên bài viết 1 (10/8/2017)</a>
                            <a href="#">3. Tên bài viết 1 (10/8/2017)</a>
                            <a href="#">4. Tên bài viết 1 (10/8/2017)</a>
                            <a href="#">5. Tên bài viết 1 (10/8/2017)</a>
                        </div>
                    </div>
                </aside>
                <div class="content">
                    <div class="content-container">
                        <div class="practices">
                            <form action="/" method="post">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="control-label">Chọn lớp</label>
                                            <select class="form-control">
                                                <option value="9">Lớp 9</option>
                                                <option value="9">Lớp 9</option>
                                                <option value="9">Lớp 9</option>
                                            </select>
                                        </div>    
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="control-label">Chọn môn</label>
                                            <select class="form-control">
                                                <option value="9">Anh văn</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">&nbsp;</label>
                                            <button id="button-practices" class="btn btn-primary">Bắt đầu</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <p class="one-title">Chọn trình độ trắc nghiệm</p>

                        <div class="container-practices">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="#" class="box-practices">
                                        <img src="~/Content/Client/images/maugiao1.jpg" alt="" />
                                        <p class="title-practices">Mẫu giáo</p>
                                        <p>Những câu hỏi kiểm tra kiến thức dành cho mẫu giáo</p>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="box-practices">
                                        <img src="~/Content/Client/images/maugiao1.jpg" alt="" />
                                        <p class="title-practices">Mẫu giáo</p>
                                        <p>Những câu hỏi kiểm tra kiến thức dành cho mẫu giáo</p>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="box-practices">
                                        <img src="~/Content/Client/images/maugiao1.jpg" alt="" />
                                        <p class="title-practices">Mẫu giáo</p>
                                        <p>Những câu hỏi kiểm tra kiến thức dành cho mẫu giáo</p>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="box-practices">
                                        <img src="~/Content/Client/images/maugiao1.jpg" alt="" />
                                        <p class="title-practices">Mẫu giáo</p>
                                        <p>Những câu hỏi kiểm tra kiến thức dành cho mẫu giáo</p>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="box-practices">
                                        <img src="~/Content/Client/images/maugiao1.jpg" alt="" />
                                        <p class="title-practices">Mẫu giáo</p>
                                        <p>Những câu hỏi kiểm tra kiến thức dành cho mẫu giáo</p>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="box-practices">
                                        <img src="~/Content/Client/images/maugiao1.jpg" alt="" />
                                        <p class="title-practices">Mẫu giáo</p>
                                        <p>Những câu hỏi kiểm tra kiến thức dành cho mẫu giáo</p>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="box-practices">
                                        <img src="~/Content/Client/images/maugiao1.jpg" alt="" />
                                        <p class="title-practices">Mẫu giáo</p>
                                        <p>Những câu hỏi kiểm tra kiến thức dành cho mẫu giáo</p>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="box-practices">
                                        <img src="~/Content/Client/images/maugiao1.jpg" alt="" />
                                        <p class="title-practices">Mẫu giáo</p>
                                        <p>Những câu hỏi kiểm tra kiến thức dành cho mẫu giáo</p>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="box-practices">
                                        <img src="~/Content/Client/images/maugiao1.jpg" alt="" />
                                        <p class="title-practices">Mẫu giáo</p>
                                        <p>Những câu hỏi kiểm tra kiến thức dành cho mẫu giáo</p>
                                    </a>
                                </div>
                            </div>
                           

                          

                        
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>



    <footer>
        <div class="footer-logo">
            <img src="~/Content/Client/images/logo2.png" alt="" />
        </div>
        <div>
            <p>CÔNG TY PHÁT MINH ĐẠT</p>
            <p>Address: 4 Nguyễn Đình Chiểu, Q1, Tp.HCM</p>
            <p>Phone: 0978876379</p>
            <p>Email: tckiet@gmail.com</p>
        </div>
        <div class="partner">
            <img src="~/Content/Client/images/abc.png" alt="" />
            <img src="~/Content/Client/images/abc.png" alt="" />
            <img src="~/Content/Client/images/abc.png" alt="" />
            <img src="~/Content/Client/images/abc.png" alt="" />
            <img src="~/Content/Client/images/abc.png" alt="" />
            <img src="~/Content/Client/images/abc.png" alt="" />
            <img src="~/Content/Client/images/abc.png" alt="" />
            <img src="~/Content/Client/images/abc.png" alt="" />
        </div>
    </footer>

</body>

</html>
