
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix">
    <h1>giới thiệu</h1>
    <div class="frame2">
        <div class="box">
            <img src="~/Content/Client/images/thumb-up.jpg" alt="Img" height="298" width="924">
        </div>
    </div>
    <h2>XIN CHÀO CÁC BẠN</h2>
</div>

